name: Ruff Lint Check

on:
  pull_request:
    branches:
      - master

jobs:
  ruff-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install ruff
        run: |
          pip install ruff==0.9.4

      - name: Run ruff lint check
        run: |
          ruff check .
